@using CaptivePortal.API.Models
@model Users

@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="is-copy-enabled is-u2f-enabled">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/LoginPage.css" rel="stylesheet" />
    <title>Login In To CaptivePortal</title>
</head>


<body>
    <div class="container-fluid">
        <div class="card card-container">

            <div class="header header-logged-out width-full" role="banner">
                <center>
                    <a class="header-logo" href="#" data-ga-click="(Logged out) Header, go to homepage,">
                        <img src="~/Images/wifi-297697_1280.png" style="height:50px;width:50px;" id="imageLogo" />
                    </a>

                </center>
                
                <div class="auth-form-header" style="left:40%;">
                    @if (@TempData["SuccessReset"] != null)
            {
                        <div class="alert alert-success" style="width:20%;">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            @TempData["SuccessReset"]
                        </div>
                    }
                </div>

            </div>
            <div role="main" class="main-content" style="margin-top:-40px;">
                <br/><br/>
                <div class="row">
                    <center><h2>Login to Captive Portal</h2></center>
                </div>
                <div class="auth-form p-3" id="login">
                    @using (Html.BeginForm("GALogin", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formid" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input id="LocationDashUrl" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["LocationDashBoardUrl"]" />
                        <div class="auth-form-body mt-4">
                            <label for="login_field">
                                Username or email address
                            </label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-block", @id = "login_field", @name = "login", @autofocus = "autofocus", @autocapitalize = "off", @autocorrect = "off", @tabindex = "1", required = "required", @type = "Email" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            <div class="divPas" id="divPas">
                                <label for="password" id="pwd">
                                    Password <a href="#" class="label-link">Forgot password?</a>
                                </label>
                                @Html.TextBoxFor(m => m.PasswordHash, new { @class = "form-control input-block", @id = "password", @name = "Password", @type = "password", @tabindex = "2", required = "required" })
                                @Html.ValidationMessageFor(m => m.PasswordHash, "", new { @class = "text-danger" })
                            </div>
                            <br/>
                            <input class="btn btn-primary btn-block" data-disable-with="Signing in…" name="commit" tabindex="3" type="submit" value="Sign in" id="SignIn" />
                        </div>
                    }
                </div>
            </div>
        </div>
  </div>
      
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<script src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
<script type="text/javascript">
        jQuery(function ($) {
            //OnClick testButton do a POST to a login.php with user and pasword
            //alert(document.getElementById("LocationDashUrl").value + "/Account/ExternalLoginNew")
            $("#SignIn").click(function (e) {
                $.redirect("http://localhost:62527/Account/ExternalLoginNew", { Email: "admin@airloc8.com", Password: "Tes@123" })
                ;
            });
        });
    </script>*@




