@using CaptivePortal.API.Models
@model ApplicationUser

@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="is-copy-enabled is-u2f-enabled">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/LoginPage.css" rel="stylesheet" />
    <title id="loginPageTitle">Admin Login</title>
</head>


<body>
    <div class="container-fluid">
        <div class="card card-container">

            <div class="header header-logged-out width-full" role="banner">
                @*<center>
                        <a class="header-logo" href="#" data-ga-click="(Logged out) Header, go to homepage,">
                            <img src="~/Images/images.png" style="height:50px;width:50px;" id="imageLogo" />
                        </a>


                    </center>*@


                <div class="auth-form-header" style="left:40%;">
                    @if (@TempData["SuccessReset"] != null)
                    {
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            @TempData["SuccessReset"]
                        </div>
                    }
                </div>

            </div>
            <div role="main" class="main-content" style="margin-top:-40px;">

                <div class="row" id="adminDiv">
                    <center><h2 style="color:rgb(128,0,0);font-size:18px;">Admin Login</h2></center>
                    <center><h2 style="color:rgb(128,0,0);font-size:18px;"><img src="~/Images/images.png" style="height:30px;width:30px;" id="imageLogo" />&nbsp;&nbsp;&nbsp;Platform</h2></center>
                </div>
                <div class="row" id="businessUserDiv">
                    <center>
                        <h3><img src="~/Images/images.png" style="height:30px;width:120px;" id="compLogo" />  </h3>
                        <h2 style="color:rgb(128,0,0);font-size:18px;">User Login</h2>
                    </center>
                </div>



                <br /><br />
                <div class="auth-form p-3" id="login">
                    @using (Html.BeginForm("GALogin", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "formid" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input id="LocationDashUrl" type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["LocationDashBoardUrl"]" />
                            <input value="" hidden id="companyId" />
                            <div class="auth-form-body mt-4">
                                <label for="login_field" style="font-size:18px;">
                                    Username or email address
                                </label>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-block", @id = "login_field", @name = "login", @autofocus = "autofocus", @autocapitalize = "off", @autocorrect = "off", @tabindex = "1", required = "required", @type = "Email" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                <br />
                                <div class="divPas" id="divPas">
                                    <label for="password" id="pwd" style="font-size:18px;">
                                        Password&nbsp;&nbsp;&nbsp;<a href="#" class="label-link">Forgot password?</a>
                                    </label>
                                    @Html.TextBoxFor(m => m.PasswordHash, new { @class = "form-control input-block", @id = "password", @name = "Password", @type = "password", @tabindex = "2", required = "required" })
                                    @Html.ValidationMessageFor(m => m.PasswordHash, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <input class="btn btn-primary btn-block" data-disable-with="Signing in…" name="commit" tabindex="3" type="submit" value="Sign in" id="SignIn" />
                                <br />
                                <div id="footer">
                                    <center><h2 style="color:rgb(128,0,0);font-size:18px;"><img src="~/Images/images.png" style="height:30px;width:30px;" id="imageLogo" /> Platform</h2></center>
                                </div>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>

</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
<script type="text/javascript">
    //jQuery(function ($) {
    //    //OnClick testButton do a POST to a login.php with user and pasword
    //    //alert(document.getElementById("LocationDashUrl").value + "/Account/ExternalLoginNew")
    //    $("#SignIn").click(function (e) {
    //        $.post("/Admin/GALogin", { UserName: $("#login_field").val(), PasswordHash: $("#password").val() }, function () {
    //            if ($("#login_field").val() == "admin@airloc8.com")
    //            {
    //                $.redirect("http://localhost:62527/Account/ExternalLoginNew", { Email: "admin@airloc8.com", Password: "Tes@123" })
    //                ;
    //            }
    //            else
    //            {
    //                window.location.href = "/Admin/Home";
    //            }
    //        });
    //    });
    //});

    $("#login_field").keyup(function () {

            var UserName = localStorage.getItem("UserName");
            localStorage.setItem("UserName", UserName)
            UserName = document.getElementById("login_field").value;
            //localStorage.setItem("SiteId", SiteId)
            if (UserName != localStorage.getItem("UserName")) {
                SiteId = document.getElementById("login_field").value;
                localStorage.setItem("UserName", UserName)
                window.localStorage.setItem("UserName", UserName);
            }

    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        var parts = window.location.href.split('/');
        var lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
        document.getElementById('companyId').value = lastSegment;
        var coId = document.getElementById('companyId').value;
        var Defimage = document.getElementById('imageLogo').src;
        var uri = "http://localhost:55205/api/form/GetCompanyIcon?CompanyId="+coId
        $.ajax({
            url: uri,
            type: 'POST',
            traditional: true,
            dataType: "HTML",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result !=null) {
                    $("#compLogo").attr("src", result)
                    document.title = "User Login"
                    document.getElementById("adminDiv").style.display = 'none';
                }
                if(result=="") {
                    $("#imageLogo").attr("src", Defimage)
                }

            },
            error: function (objAjaxRequest, strError) {
                var respText = objAjaxRequest.responseText;
                document.getElementById("adminDiv").style.display = 'block';
                document.getElementById("businessUserDiv").style.display = 'none';
                document.getElementById("footer").style.display = 'none';
                console.log(respText);
            }
        });
    });
</script>