@using CaptivePortal.API.Models
@model UserlistViewModel
@{

    Layout = null;
    ViewBag.PageRange = 3;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Captive Portal Admin | </title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!--manual css-->
    <link href="~/Content/Index.css" rel="stylesheet" />
    <!-- bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Style/DropDown.css" rel="stylesheet" />
    <link href="~/build/css/custom.css" rel="stylesheet" />
    <script src="~/build/js/index.js"></script>
</head>


<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">


                            <li role="presentation" class="dropdown">

                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            @*<div class="right_col" role="main">
                    <div class="">
                        <a class="btn-success" href="@Url.Action("CreateUser","Admin")">Create New User</a>
                    </div>
                    <iframe src="http://localhost:62527/DashBoard/UserDetails" style="display:block;height:1000px;width:1000px;">

                    </iframe>
                </div>*@


            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <br />
                                    <form></form>
                                    <div class="col-md-12 text-center">
                                        <input type="button" class="btn btn-success" onclick="window.location.href = '/admin/CreateUser?SiteId=' + siteId" value="Create New User">

                                        <input type="button" class="btn btn-success" onclick="tableToExcel('cpLocalAdminUserTable')" value="Export Data" style="width:15%">
                                    </div>
                                    <div class="container">
                                        <br />
                                        <form class="form-inline" id="searchForm">
                                            <div class="form-group">
                                                <label for="text">Search:</label>
                                                <input type="text" class="form-control" id="myInput" />
                                            </div>
                                        </form>

                                    </div>
                                    <hr />
                                    <div class="row container-fluid">

                                        <div style="top:35px;">
                                            <table class="table table-hover table-striped table-responsive" id="cpLocalAdminUserTable">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none;">
                                                            UserId
                                                        </th>

                                                        <th>
                                                            Email/Username
                                                        </th>
                                                        <th>
                                                            Created Date
                                                        </th>
                                                        @*<th>
                                                                Site access
                                                            </th>*@

                                                        <th>
                                                            Last login
                                                        </th>
                                                        <th>
                                                            Status
                                                        </th>

                                                        <th>
                                                            Role
                                                        </th>
                                                    </tr>
                                                </thead>
                                                @if (Model.UserViewlist != null)
                                                {
                                                    <tbody class="pointer" id="UserDetails">
                                                        @foreach (var item in Model.UserViewlist)
                                                        {
                                                            <tr>
                                                                <td style="display:none;" id="UserId">
                                                                    @Html.DisplayFor(modelItem => item.UserId)
                                                                </td>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                                                </td>
                                                                @*<td>
                                                                        @Html.DisplayFor(modelItem => item.SiteAccess)
                                                                    </td>*@

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Lastlogin)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Status)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Role)
                                                                </td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                }
                                                <tfoot>
                                                    <tr>
                                                        <td>
                                                            <ul class="pagination" id="div1">
                                                                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                                                {
                                                                    if (i >= ViewBag.CurrentPage - ViewBag.PageRange && i <= ViewBag.CurrentPage + ViewBag.PageRange)
                                                                    {
                                                                        if (ViewBag.CurrentPage == i)
                                                                        {
                                                                            <li class="active"><a id="pageLink" href="#">@i</a></li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li><a id="pageLink" href="#" )">@i</a></li>
                                                                        }
                                                                    }
                                                                }
                                                            </ul>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer></footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="../vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="../vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../vendors/Flot/jquery.flot.js"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    <!-- Google Analytics -->


</body>
</html>

<script type="text/javascript">
    //get localstoage value
    var siteId = localStorage.getItem("SiteId");
    var siteName = localStorage.getItem("SiteName");
    document.getElementsByTagName('form')[0].innerHTML = siteName;

    //paging click
    $("#div1 a").click(function () {
        $(location).attr('href', '/Admin/ManageUser?siteId=' + siteId + '&page=' + $(this).text() + '&userName=' + $("#txtUserName").val());
    });

    //filter any matched string
    var $rows = $('#cpLocalAdminUserTable tr');
    $('#myInput').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
</script>
