@using CaptivePortal.API.Models
@model IEnumerable<UserViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CaptivePortal </title>
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="../vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <br />
                                    <div class="row container-fluid">

                                        <div style="top:35px;">
                                            <table class="table table-hover table-striped table-responsive" id="cpTable">
                                                <thead>
                                                    <tr>
                                                        <th style="display:none;">
                                                            UserId
                                                        </th>
                                                        <th>

                                                        </th>
                                                        <th>
                                                            Username
                                                        </th>
                                                        <th>
                                                            Forename
                                                        </th>
                                                        <th>
                                                            Surname
                                                        </th>
                                                        <th>
                                                            LastLogin
                                                        </th>
                                                        <th>
                                                            CreatedDate
                                                        </th>
                                                        <th>
                                                            Mac Address
                                                        </th>
                                                    </tr>
                                                </thead>
                                                @if (Model != null)
                                                {
                                                    <tbody class="pointer" id="SiteDetails">
                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td style="display:none;" id="SiteId">
                                                                    @Html.DisplayFor(modelItem => item.UserId)
                                                                </td>
                                                                <td>
                                                                    @*<input class="form-control col-md-7 col-xs-12" type="checkbox" id="checkbox1" name="chkOptOrMand" style="width:30px;">*@
                                                                    @*<a href="@Url.Action("UserWithProfile","Admin",new { UserId= item.UserId})" type="checkbox">Edit</a>*@
                                                                    <input type="checkbox" onclick="location.href='@Url.Action("UserWithProfile","Admin",new { UserId=item.UserId})'" />

                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.FirstName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.LastName)
                                                                </td>
                                                                <td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                                                </td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                }
                                            </table>

                                        </div>
                                    </div>

                                    <div>
                                        @*@Html.Partial("~/Views/Shared/_UserWithProfile.cshtml")*@
                                        @*<ul class="nav nav-tabs nav-justified">
                                                <li class="active"><a href="#">User Details</a></li>
                                                <li><a href="#">Password</a></li>
                                                <li><a href="#">Devices</a></li>

                                            </ul>*@

                                        <div role="tabpanel">
                                            <ul class="nav nav-tabs nav-justified" role="tablist" >
                                                <li role="presentation" class="active"><a href="#UserProfile" aria-controls="UserProfile" role="tab" data-toggle="tab">User Details</a></li>
                                                <li role="presentation"><a href="#UserPassword" aria-controls="UserPassword" role="tab" data-toggle="tab">Password</a></li>
                                                <li role="presentation"><a href="#Device" aria-controls="Devices" role="tab" data-toggle="tab">Devices</a></li>
                                            </ul>

                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade in active" id="UserProfile">
                                                    @using (Ajax.BeginForm("UserWithProfile", "Admin", new AjaxOptions { UpdateTargetId = "staff" }, new { id = "form-staff" }))
                                                    { @Html.Partial("~/Views/Shared/_UserWithProfile.cshtml")                                                     }
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="UserPassword">
                                                    @using (Ajax.BeginForm("UpdatePassword", "Admin", new AjaxOptions { UpdateTargetId = "experience" }, new { id = " form-experience" }))
                                                    {@Html.Partial("~/Views/Shared/_UpdatePassword.cshtml") }
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="Device">
                                                    @using (Ajax.BeginForm("MacAddress", "Admin", new AjaxOptions { UpdateTargetId = "experience" }, new { id = " form-experience" }))
                                                    {@Html.Partial("~/Views/Shared/_Devices.cshtml") }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>

                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="../vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="../vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="../vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="../vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="../vendors/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

</body>
</html>
<script type="text/javascript">
    var userId = document.getElementById("").value;
    function UserWithProfile() {
        var data = { UserId: userId }
        $.post("/Admin/UserWithProfile/", data, function (e) {
            $("#imageLogo").attr('src', e.BannerIcon)
            $("#titleID").text(e.LoginPageTitle);
            if (e.IsPasswordRequire == false) {
                $('#divPas').addClass("hidden");
            }
            else {
                $('#divPas').removeClass("hidden");
            }
        });
    }
</script>
