@model CaptivePortal.API.Models.WifiUserViewModel
<br />
<br />

@using (Html.BeginForm("UpdatePassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="Password"></label>
            <div class="col-md-3">
                @*@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @name = "password", @type = "password" } })*@
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control", @Id = "userIdHidden", @name = "UserId", @style = "display:none" } })
            </div>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PromotionEmailOptIn">Promotion email opt-in :</label>
            <div class="col-md-3">
                <input class="form-control" type="checkbox" id="checkbox1" name="PromotionEmailOptIn" style="width:30px;" checked="@Model.PromotionEmailOptIn" disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Password">New Password:</label>
            <div class="col-md-3">
                <input id="npw" class="form-control col-md-7 col-xs-12" type="text" name="NewPassword" onchange="doesSiteNameExist()"><label class="message" id="message" />
                @* @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @name = "password", @type = "password", @placeholder = "newpassword" } })*@
            </div>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="UserOfDataOptIn">User of data opt-in:</label>
            <div class="col-md-3">
                <input class="form-control" type="checkbox" id="checkbox1" name="UserOfDataOptIn" style="width:30px;" checked="@Model.UserOfDataOptIn" disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Password">Confirm Password:</label>
            <div class="col-md-3">
                <input id="cpw" class="form-control col-md-7 col-xs-12" type="text" name="ConfirmPassword" onchange="doesSiteNameExist()"><label class="message" id="message" />
                @* @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @name = "password", @type = "password", @placeholder = "newpassword" } })*@
            </div>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="3rdPartyOptIn">3rd party opt-in :</label>
            <div class="col-md-3">
                <input class="form-control col-md-7 col-xs-12" type="checkbox" id="checkbox1" name="ThirdPartyOptIn" style="width:30px;" checked="@Model.ThirdPartyOptIn" disabled="disabled">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"></label>
            <div class="col-md-3">
            </div>
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Term_conditions">Terms & Conditions:</label>
            <div class="col-md-1">
                @Html.EditorFor(model => model.Term_conditions, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @name = "Term_conditions", @readonly = "readonly" } })
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <input type="submit" id="update" class="btn btn-success" value="Upadate Password" />
        </div>
    </div>
}
