@using CaptivePortal.API.ViewModels
@model GrouplistViewModel
@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Captive Portal Admin | </title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!--manual css-->
    <link href="~/Content/Index.css" rel="stylesheet" />
    <!-- bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Style/DropDown.css" rel="stylesheet" />
    <link href="~/build/css/custom.css" rel="stylesheet" />
    @*<script src="~/build/js/index.js"></script>*@
    <style>
        td {
            border: 1px #DDD solid;
            padding: 5px;
            cursor: pointer;
        }

        .selected {
            background-color: brown;
            color: #FFF;
        }
    </style>
    <style>
        .highlight {
            background-color: red;
        }
    </style>
    <style>
        /*    */
        .cellContainer {
            width: 25%;
            float: left;
        }
    </style>
</head>


<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">


                            <li role="presentation" class="dropdown">

                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @if (TempData["SiteIdCheck"] != null)
                {
                    <p class="alert alert-success" id="successMessage">@TempData["SiteIdCheck"]</p>
                }

                <h4> User Groups<button type="button" style="margin-left:40%" id="del" class="btn btn-danger delete">Delete Group</button></h4>
                <div class="row container-fluid">
                    <div class="col-lg-12">

                        <div style="top:35px;width:700px; height:250px; overflow:auto;">
                            <table class="table table-hover table-responsive" id="resultTable">
                                <thead>
                                    <tr style="background-color:#ccc;color:black">
                                        <th style="display:none;">
                                            GroupId
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Rule
                                        </th>

                                        <th>
                                            # of Users
                                        </th>

                                    </tr>
                                </thead>
                                <tbody class="pointer" style="width:320px; height:60px; overflow:auto;">
                                    @foreach (var item in Model.GroupViewlist)
                                    {
                                        <tr>


                                            <td style="display:none;">
                                                @Html.DisplayFor(modelItem => item.GroupId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GroupName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rule)
                                            </td>

                                            <td></td>
                                        </tr>
                                    }
                                </tbody>



                            </table>


                        </div>



                    </div>
                    <br />
                    <br />
                    @using (Html.BeginForm("CreateGroup", "Group", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-horizontal form-label-right" style="margin-left:70%">
                            <div class="form-group">
                                <label class="control-label col-sm-2">Name:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="name" placeholder="" name="GroupName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Rule:</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="rule" name="Rule" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-success" style="margin-left:20%">Create Group</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <br />
                <br />
                <br />




            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer></footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="../vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="../vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="../vendors/Flot/jquery.flot.js"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="../vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>



</body>
</html>
<script type="text/javascript">

    $(document).ready(function () {
        $("#resultTable tr").click(function () {
            $(this).addClass('selected').siblings().removeClass('selected');
            var value = $(this).find('td:first').html();
        });

        $('.delete').on('click', function (e) {
            //alert($("#resultTable tr.selected td:first").html());
            //function deleteGroup() {
            var id = $("#resultTable tr.selected td:first").html();
                var uri = '@Html.Raw(Url.Action("DeleteGroup", "Group"))';
                $.ajax({
                    url: uri,
                    type: 'POST',
                    traditional: true,
                    dataType: "HTML",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ 'GroupId': id }),
                    success: function (result) {
                        location.reload();
                    },
                    error: function (objAjaxRequest, strError) {
                        var respText = objAjaxRequest.responseText;
                        console.log(respText);
                    }
                });
            //}



        });
    });




</script>
